* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    background-image: url(img/background.jpg);
    font-family: 'ZCOOL KuaiLe', cursive;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 10vh auto;
    width: 60vw;
    height: 80vh;
    padding: 2vh;
    
}

.input {
    background-color: rgba(240, 248, 255, 0.5);
    height: 40px;
    width: 80px;
    padding-left: 15px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2rem;
    border-radius: 5px;
}

.run-button {
    background-color: rgba(240, 248, 255, 0.5);
    height: 40px;
    width: 80px;
    margin-left: 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2rem;
    border-radius: 5px;
}

.search-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto 5vh auto;
    align-content: center;
    
}

.info-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto 5vh auto;
    align-content: center;
    
}

.poke-name {
    font-size: 2rem;
    color: black;
    margin-right: 10px;
}

.poke-id {
    font-size: 2rem;
    color: black;
    margin-right: 10px;
}

.poke-image {
    /* background-color: brown; */
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto 0 auto;
    align-content: center;
    width: 200px;
}

.navigation-buttons {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.navi-button {
    background-color: rgba(240, 248, 255, 0.5);
    width: 70px;
    height: 40px;
    margin: 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.poke-moves {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.move {
    font-size: 2rem;
    background-color: rgba(240, 248, 255, 0.5);
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}

  